<div class="entity-row">
    <div class="full-cell small-heading">FedEx Office, Generate a Label</div>
</div>
<div class="entity-row">
    <div class="full-cell">
        <select id="fRetailer" name="fRetailer" autofocus>
            <option value="none">Retailer</option>
            <option value="billssamona">Bill's Samona</option>
            <option value="freddiebower">Freddie Bower</option>
            <option value="housestation">House Station</option>
        </select>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell with-space">
        <input type="text" name="fRma" id="fRma" autocomplete="off" placeholder="RMA" />
    </div>
</div>
<div class="entity-row with-space">
    <div class="full-cell">
        <button class="half" id="fStart" >Generate Label</button>
    </div>
</div>
<div id="fResult">
</div>
