<div class="entity-row">
    <div class="full-cell big-formatted">
        Good Morning, friendly associate!
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        Please pack using the SKU below, print the label and ship the package.
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        <%= item.item %> - <%= item.item_description %>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell big-formatted">
        <a class="external" target="_blank" href="<%= item.label_url %>">Shipping Label</a>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell big-formatted">
    Package SKU - <%= item.package_sku %>
    </div>
</div>
