/*
 * Styles for survey broker
 * 814931
 */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/* page header for all pages */

.header_wrapper {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: block;
    z-index: 1000;
    background-color: rgba(76, 19, 139,1);
}

.header {
    margin: 0 auto;
    height: 45px;
    width: 1170px;
    display: block;
    color: #fff;
    border: 0px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header_company {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    margin-left: 1%;
    margin-top: 3px;
    background-repeat: no-repeat;
    font-size: 1.3em;
    line-height: 40px;
    cursor: pointer;
}

.header_product {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 3px;
    font-size: 1.3em;
    line-height: 40px;
}

.header_welcome {
    position: relative;
    float: right;
    width: 34%;
    height: 100%;
    text-align: right;
    padding-right: 1%;
    margin-top: 3px;
    font-size: 1.3em;
    line-height: 40px;
}
/* container for page, place your common.css styles in here */
/*
.container {
    margin: 60px auto 0 auto;
    width: 990px;
    position: relative;
}
*/


.container {
    width: 1170px;
    margin: 5px auto 0 auto;
}

.container iframe {
    height: 1600px;
}

.tm {
    margin-top: 60px;
}

.tm-menu {
    margin-top: 120px;
}

.menu-collection {
    width: 30%;
    margin: 0 auto;
}

.menu-collection .menu-item {
    width: 100%;
    height: 2.5em;
    padding-bottom: 3px 0 10px 0;
    background-color: rgb(99, 52, 150);
}
.menu-collection .menu-spacer {
    width: 100%;
    height: 1em;
}

.menu-collection .menu-item:hover {
    background-color: #C91839;
}

.insight {
    width: 1300px;
}

.claim-dump {
    color: #4d148c;
    cursor: pointer;
}

.claim-dump:hover {
    color: inherit;
}

iframe {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

iframe[seamless] {
    display: block;
}
/* cellophane styles help with layout and common.css */

.cellophane {
    width: 600px;
    margin: 50px auto 0 auto;
}

.full {
    width: 100%;
}

.almost-full {
    width: 75%;
}

.half {
    width: 50%;
}

.cellophane .split {
    position: relative;
    float: left;
    width: 50%;
}
/* wrap a cellophane block with a nice border */

.with-a-bow {
    border: 1px solid #dedede;
    border-radius: 3px;
}
/* used with the fx-table styles to specifically format survey lists */

.survey-table table {
    table-layout: fixed;
}
/* set ellipse overflow on a variety of elements */

.ellipse,
.entity-container .entity-row .value-cell,
.entity-container .entity-row .label-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.survey-table table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipse:after,
.survey-table table td:after,
.entity-container .entity-row .value-cell:after,
.entity-container .entity-row .label-cell:after {
    content: ".";
    visibility: hidden;
}

.section-heading-pad {
    margin: 0 10px 0 10px;
}

.section-heading {
    width: 98%;
    margin: 10px 1% 20px 1%;
    border-bottom: 1px solid #dedede;
    color: rgb(77, 20, 140);
    display: block;
    font-size: 1.3em;
    height: 25px;
    padding: 0 0 5px 0;
}

.no-section-bottom {
    border-bottom-style: none;
    margin: 10px 0 5px 0;
    padding: 0;
}

.denied-message {
    text-align: center;
    font-size: 1.3em;
}

.buttons-we-like {
    border: 1px solid #ffffff !important;
    border-radius: 4px;
    font-size: .95em;
}

.buttons-we-like:focus {
    border-color: #4d148c !important;
}
/* use entity to display a colelction of name value pairs */
/* similar in layout and spacing to the common.css fieldset */

.entity-container {
    margin: 10px;
}

.entity-container .entity-row {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.entity-container .entity-row .label-cell {
    position: relative;
    float: left;
    width: 40%;
}

.entity-container .entity-row .value-cell {
    position: relative;
    float: left;
    width: 60%;
}

.instruction-head {
    color: #333333;
    font-size: 2em;
    padding-bottom: 20px;
}

.column {
    position: relative;
    float: left;
    width: 40%;
    margin: 0 5% 0 5%;
}

/* if page width is smaller than default, use this snap point */
/* common.css has 4 snap points */

@media screen and (max-width: 1170px) {
    .container {
        width: 100%;
        margin-top: 50px;
    }
    .cellophane {
        width: 100%;
        margin: 0;
    }
    .half {
        width: 100%;
    }
    .cellophane .split {
        position: relative;
        float: left;
        width: 100%;
    }
    .with-a-bow {
        border-style: solid none solid none;
        margin: 10px 0 10px 0;
    }
    .header {
        width: 100%;
    }
    .header_company {
        width: 24%;
    }
    .header_product {
        width: 50%;
    }
    .header_welcome {
        width: 24%;
    }
    .section-heading {
        border-bottom-style: none;
        font-size: 1.1em;
        height: 25px;
        padding: 0 0 5px 0;
    }
    .entity-container .entity-row .label-cell {
        font-weight: bold;
        font-size: .95em;
        width: 38%;
        margin-right: 2%;
    }
    .column {
        width: 94%;
        margin: 0 3% 0 3%;
    }
    .menu-collection {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    .tm-menu {
        margin-top: 60px;
    }
    
    .menu-collection {
        width: 90%;
        margin: 0 auto;
    }
}