body {
    margin: 0px;
    padding: 0px;
    background-color: #EFEFEF;
    background-image:url('../images/b7.jpg');
    background-position:center top;
    background-attachment:fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.band, .super-band, .bigBand, .pigBand, .headingImage {
    width: 100%;
    min-height: 400px;
    position: relative;
    color: #ffffff;
/*    font-size: 2em;*/
}


.super-band {
    min-height: 650px;
}

.bigBand {
    min-height: 600px;
}

.pigBand {
    min-height: 150px;
}

.purple {
    background-color: rgb(76, 19, 139);
    color: #ffffff;
}

.dark-purple {
    background-color: rgb(76, 19, 139);
    color: #ffffff;
}

.headingImage {
    background-color: #EFEFEF;
    background-image:url('../images/b5.jpg');
    background-position:center bottom;
    background-size: cover;
    display: block;
}

.blue {
    background-color: deepskyblue;
    color: #ffffff;
}

.gray {
    background-color: #222222;
    color: #EEEEEE;
}

.light-gray {
    background-color: #EEE;
/*    border: 1px 0 1px 0;*/
/*    border-style: solid;*/
    border-color: #DDD;
    color: #EEE;
}

.white {
    background-color: #ffffff;
    color: #444444;
}

.green {
    background-color: #45b64a;
    color: #ffffff;
}

.red {
    background-color: darkred;
    color: deepskyblue;
}



.filter {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
}

.filter:after{
    content: ".";
    visibility: hidden;
}

.purpleFilter {
    background-color: rgba(76, 19, 139, 0.8);
    color: #ffffff;
}

.blueFilter {
    background-color: rgba(0,191,255,.5);
    color: #ffffff;
}

.greenFilter {
    background-color: rgba(23, 222, 32, 0.5);
    color: #ffffff;
}

.redFilter {
    background-color: rgba(255, 0, 0,.5);
    color: #ffffff;
}

.whiteFilter {
    background-color: rgba(255, 255, 255,.90);
    color: #ffffff;
}

.content {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    height: 100%;
}

.largePadding {
    padding: 20px 10px;
}


/* the rest */

.heading {
    height:75px;
    width:100%;
}

.heading .head-left {
    padding-top: 10px;
    position: relative;
    float: left;
    width: 50%;
    text-align: left;
    font-size: 1.5em;
    font-weight: 100;
}

.heading .head-right {
    padding-top: 15px;
    position: relative;
    float: left;
    width: 50%;
    text-align: right;
}

.billboard {
    padding: 40px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
}

.sub-billboard {
    padding: 20px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    font-size: 2.5em;
    text-transform: uppercase;
}

.major {
    padding: 30px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    color: rgb(76, 19, 139);
    font-size: 2em;
}

.sub-major {
    padding: 20px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.7em;
    color: #777;
    font-weight: 100;
    font-size: 1.3em;
}

.how {
    padding: 45px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    color: rgb(76, 19, 139);
    font-size: 2em;
}

.sub-how {
    padding: 40px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.7em;
    color: #777;
    font-weight: 100;
    font-size: 1.3em;
}

.step {
    padding: 40px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 33%;
    line-height: 1.3em;
    color: rgb(76, 19, 139);
}

.step .icon {
    position: relative;
    text-align: center;
    height:150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
    line-height: 140px;
    color: #fff;
    background-color: rgb(76, 19, 139);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 800;
}

.step .copy-one {
    padding: 35px 0 0 0;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.2em;
    color: #777;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
}

.step .copy-two {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.6em;
    color: #777;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
}

.step .copy-three {
    padding: 5px 5px 0 5px;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    line-height: 1.5em;
    color: #999;
    font-size: .9em;
}

input, button {
    width: 100%;
    height: 2em;
    font-family: Montserrat, arial, sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    border-radius: 8px;
    color: rgb(76, 19, 139);
    outline: none;
    padding: 5px;
}

input {
    text-transform: updpercase;
    border: 0 none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border-color: #222222;
    outline: none;
}

.small-input {
    border-radius: 3px;
    width: 175px;
    font-size: .8em;
}

.big-button {
    width: 30%;
}

.small-button {
    width: 20%;
    color: #ffffff;
    background-color: #999;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: .8em;
}

button {
    color: #ffffff;
    background-color: rgb(76, 19, 139);
    border: 1px solid #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: rgb(47, 10, 88);
}

button:active {
    background-color: rgb(47, 10, 88);
}

.iama {
    padding: 40px 0 0 0;
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    font-size: .8em;
    color: #999;
}

.wwh {
    padding: 30px 0 0 0;
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    .step {
        width: 100%;
        font-size: 1.2em;
        padding:3px;
    }
    .heading .head-left {
        width: 100%;
    }
    .heading .head-right {
        width: 100%;
        text-align: left;
    }
    input, button {
        width: 100%;
    }
    .small-input, .small-button, .big-button {
        width: 90%;
        border-radius: 2px;
        font-size: 1.5em
/*        height: 30px;*/
    }
    .step .icon {
        width:100px;
        height: 100px;
        border-radius: 100px;
        line-height: 95px;
    }
    .billboard, .sub-billboard {
        padding: 0;
    }
    .sub-how, .how {
        padding:0;
    }
    .step .copy-one {
        padding: 5px 0 0 0;
    }
}