.showMobile {
	display:none;
}

* {
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	outline:0;
	margin:0;
	padding:0;
	border:0;
}

.fx-cf:before, .fx-cf:after {
	content:"";
	display:table;
}

.fx-cf:after {
	clear:both;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}

h1, h2, h3 {
	font-weight:normal;
	margin:0 0 10px 0;
	color:#4d148c;
}

a:link, a:visited {
	color:#4d148c;
	text-decoration:none;
}

body:not(.fx-touch) a:hover, a:focus, a:active {
	color:#666;
}

ol, ul {
	padding-left:25px;
}

li {
	margin-bottom:10px;
}

.fx-toc p {
	margin:10px 0;
}

.fx-toc ol {
	margin:0 0 25px 2em;
}

.fx-toc ol li {
	margin:10px 0 15px 0;
}

.fx-toc ol li li {
	margin:10px 0 5px 0;
}

.gui-section {
	padding:20px 10px;
	border-bottom:1px dashed #CCC;
}

.gui-section:last-of-type {
	border-bottom:0;
}

.col-main .gui-section {
	padding:20px 10px 20px 0;
}

.gui-section>div {
	margin-bottom:20px;
}

.fullCheck {
	background:#f5f5f5;
	border-radius:7px;
	padding:10px;
}

.datapoint .fullCheck label.check {
	margin-top:0;
}

.page-heading {
	margin-bottom:10px;
}

.inputDisabled {
	border-color:transparent !important;
	background-color:#FFF !important;
}

@media screen and (max-width:699px) {
	.hideMobile {
	display:none;
}

.showMobile {
	display:block;
}

}.fx-accordian-action .fx-showhide>h3 span {
	background-image:none;
	text-indent:0;
}

.fx-accordian-action .fx-showhide>h3 span:after {
	content:'25bc';
}

.fx-accordian-action .fx-showhide.fx-active>h3 span:after {
	content:'25b2';
}

.fx-accordian-steps {
	border-top:1px solid #c3c3c2;
	font-family:Arial, Helvetica, sans-serif;
}

.fx-accordian-steps .fx-step h2 {
	font-weight:normal;
	font-size:18px;
	background:#e4e4e4;
	background:-moz-linear-gradient(top, #fefefe 0, #e4e4e4 100%);
	background:-webkit-linear-gradient(top, #fefefe 0, #e4e4e4 100%);
	background:linear-gradient(top, #fefefe 0, #e4e4e4 100%);
	border:1px solid #c3c3c2;
	border-top:0;
	padding:8px 10px;
	margin:0;
	color:#aaa;
	cursor:default;
}

.fx-accordian-steps .fx-step.fx-done h2, .fx-accordian-steps .fx-step.fx-active h2 {
	color:#666;
}

.fx-accordian-steps .fx-step.fx-error h2 {
	color:#e9262e;
}

.fx-accordian-steps .fx-step.fx-done h2 {
	cursor:pointer;
}

.fx-accordian-steps .fx-step.fx-active h2 {
	font-weight:bold;
}

.fx-accordian-steps .fx-step.fx-done h2:hover {
	background:#e2e2e2;
}

.fx-accordian-steps .fx-step.fx-active h2:hover {
	background:#e4e4e4;
	background:-moz-linear-gradient(top, #fefefe 0, #e4e4e4 100%);
	background:-webkit-linear-gradient(top, #fefefe 0, #e4e4e4 100%);
	background:linear-gradient(top, #fefefe 0, #e4e4e4 100%);
}

.fx-accordian-steps .fx-step h2 span {
	background:#f9f9f9;
	display:none;
	float:right;
	font-size:.7em;
	font-weight:bold;
	color:#4d148c;
	padding:0 10px;
	border:1px solid #4d148c;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	transition:opacity .2s linear;
}

.fx-accordian-steps .fx-step.fx-done h2 span {
	display:block;
}

.fx-accordian-steps .fx-step.fx-done.fx-active h2 span {
	opacity:0;
}

.fx-accordian-steps .fx-step.fx-error h2 span {
	background:#FFF;
	border-color:#e9262e;
	color:#e9262e;
}

.fx-accordian-steps .fx-step .fx-step-content {
	display:none;
	position:relative;
	border-bottom:1px solid #d3d3d2;
	overflow:hidden;
	padding:10px;
}

.fx-accordian-steps .fx-step.fx-active .fx-step-content {
	display:block;
}

.fx-accordian-steps .fx-step .fx-step-content h3 {
	margin:10px 0;
}

.fx-accordian-steps .fx-step .fx-step-content p {
	margin:10px 0;
	font-size:14px;
}

.fx-appbar {
	position:relative;
	width:100%;
	height:36px;
	padding:0;
	background:#666;
	background:-moz-linear-gradient(top, #666 75%, #555656 98%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(75%, #666), color-stop(98%, #555656));
	background:-webkit-linear-gradient(top, #666 75%, #555656 98%);
	background:-o-linear-gradient(top, #666 75%, #555656 98%);
	background:-ms-linear-gradient(top, #666 75%, #555656 98%);
	background:linear-gradient(top, #666 75%, #555656 98%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#555656', GradientType=0);
	border:0;
}

.fx-appbar h2 {
	float:left;
	margin:10px 0 0 10px;
	font-size:16px;
	color:#FFF;
	font-weight:normal;
}

.fx-appbar .fx-app-links {
	float:right;
	margin:10px 5px 0 0;
}

.fx-appbar .fx-app-links li {
	list-style:none;
	font-size:12px;
	display:inline-block;
	padding:0 8px;
	border-left:1px solid #ccc;
}

.fx-appbar .fx-app-links li:first-child {
	border-left:0;
}

.fx-appbar .fx-app-links li a {
	color:#FFF;
	text-decoration:none;
}

.fx-appbar .fx-app-links li a:hover {
	text-decoration:underline;
}

.fx-appbar .fx-app-links li .fx-help {
	background:url(img/icon-help.png) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}

.fx-grid .fx-col {
	width:100%;
	float:left;
}

body.rtl .fx-grid .fx-col {
	float:right;
}

.fx-grid .col-1 {
	width:25%;
}

.fx-grid.fx-3 .col-1, .fx-grid.fx-1-2 .col-1, .fx-grid.fx-2-1 .col-1 {
	width:33.33%;
}

.fx-grid .col-2, .fx-grid.fx-2-1 .col-2 .col-2, .fx-grid.fx-1-2 .col-2 .col-2 {
	width:50%;
}

.fx-grid.fx-1-2 .col-2, .fx-grid.fx-2-1 .col-2 {
	width:66.66%;
}

.fx-grid .col-3 {
	width:75%;
}

.fx-grid.fx-1-2 .col-1 .fx-2-2 .col-2, .fx-grid.fx-2-1 .col-1 .fx-2-2 .col-2, .fx-grid.fx-1-3 .col-1 .fx-2-2 .col-2, .fx-grid.fx-3-1 .col-1 .fx-2-2 .col-2 {
	width:100%;
}

@media only screen and (max-width:799px) {
	#fx-respond .fx-1-3 .fx-col, #fx-respond .fx-3-1 .fx-col, #fx-respond .fx-1-2 .fx-col, #fx-respond .fx-2-1 .fx-col, #fx-respond .fx-1-2-1 .fx-col, #fx-respond .fx-1-1-2 .fx-col, #fx-respond .fx-2-1-1 .fx-col {
	width:100%;
}

#fx-respond .fx-4 .fx-col, #fx-respond .fx-grid .col-2 .col-2, #fx-respond .fx-grid .col-3 .col-2, #fx-respond .fx-grid.fx-1-2 .col-1 .fx-2-2 .col-2, #fx-respond .fx-grid.fx-2-1 .col-1 .fx-2-2 .col-2, #fx-respond .fx-grid.fx-1-3 .col-1 .fx-2-2 .col-2, #fx-respond .fx-grid.fx-3-1 .col-1 .fx-2-2 .col-2 {
	width:50%;
}

#fx-respond .fx-grid .col-3 .fx-3 .col-1 {
	width:33.33%;
}

}@media only screen and (max-width:599px), screen and (min-device-width:720px) and (max-width:640px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) {
	#fx-respond .fx-col {
	width:100% !important;
}

}.fx-app-nav {
	width:100%;
}

.fx-app-nav ul {
	padding-left:0;
}

.fx-app-nav li {
	list-style:none;
	border-bottom:1px solid #CCC;
	margin:0;
}

.fx-app-nav li a {
	display:block;
	padding:10px 0 10px 15px;
	font-size:13px;
	color:#000;
	font-weight:bold;
	background:url(img/app-nav-arrow.gif) no-repeat left 50%;
}

.fx-touch .fx-app-nav li a {
	padding:8px 0 8px 15px;
}

.fx-app-nav li a:hover {
	background-color:#f9f9f9;
	text-shadow:0 1px 0 #FFF;
}

.fx-app-nav li a:hover, .fx-app-nav li a.fx-active {
	color:#4d148c;
	text-decoration:none;
}

.fx-app-nav select {
	display:none;
	margin:0;
	padding:0;
	font-size:15px;
	width:100%;
	outline:0;
}

@media screen and (max-width:699px) {
	.fx-app-nav ul {
	display:none;
}

.fx-app-nav select {
	display:block;
}

}.fx-workflow-indicator-wrapper {
	width:100%;
	height:37px;
	max-height:57px;
	overflow:hidden;
	border-top:1px solid #e6e6e7;
	border-bottom:1px solid #e6e6e7;
	border-right:1px solid #e6e6e7;
	text-align:center;
}

.fx-workflow-indicator-bg {
	width:50%;
	height:38px;
	float:left;
}

.fx-workflow-indicator-bg.fx-start {
	background-color:#4f2e89;
}

.fx-in-progress .fx-workflow-indicator-bg.fx-start {
	background-color:#a5a8ab;
}

.fx-workflow-indicator {
	position:relative;
	top:-40px;
	display:inline-block;
	padding:0;
	background:#FFF;
}

.fx-workflow-indicator li {
	float:left;
	height:40px;
	vertical-align:middle;
	text-align:center;
	list-style:none;
}

.fx-workflow-indicator li a {
	float:left;
	display:inline-block;
	padding:12px 15px 8px 25px;
	font-family:Arial, sans-serif;
	font-size:17px;
	color:#666;
	text-decoration:none;
	border-right:0;
	cursor:pointer;
}

.fx-workflow-indicator li span {
	float:right;
	width:26px;
	height:39px;
	background:url(img/bg-arrow.png) no-repeat 0 -3px;
}

.fx-workflow-indicator li.fx-current a {
	color:#FFF;
	background-color:#4f2e89;
}

.fx-workflow-indicator li.fx-current span {
	background-position:0 -52px;
}

.fx-workflow-indicator li.fx-completed a {
	color:#FFF;
	background-color:#a5a8ab;
}

.fx-workflow-indicator li.fx-completed span {
	background-color:#a5a8ab;
	background-position:0 -101px;
}

.fx-workflow-indicator li.fx-completed.fx-last a {
	color:#FFF;
	background-color:#a5a8ab;
}

.fx-workflow-indicator li.fx-completed.fx-last span {
	background-color:#4f2e89;
	background-position:0 -101px;
}

button {
	padding:5px 16px;
	border-width:2px;
	border-style:solid;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}

button.fx-disabled {
	border-color:#e5e5e5 !important;
	background:#e5e5e5 !important;
	color:#CCC !important;
	cursor:default;
	pointer-events:none;
}

button.fx-half {
	padding:5px 10px;
	border-width:2px;
	border-style:solid;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}

.fx-btn-primary {
	border-color:#4d418c;
	background:#4d418c;
	background:-webkit-gradient(linear, left top, left bottom, from(#ad92c9), to(#4d148c));
	background:-webkit-linear-gradient(top, #ad92c9, #4d148c);
	background:-moz-linear-gradient(top, #ad92c9, #4d148c);
	background:-ms-linear-gradient(top, #ad92c9, #4d148c);
	background:-o-linear-gradient(top, #ad92c9, #4d148c);
}

.fx-btn-primary.fx-hover, body:not(.fx-touch) .fx-btn-primary:hover {
	border-color:#4d418c;
	background:#2f1b50;
	background:-webkit-gradient(linear, left top, left bottom, from(#ad92c9), to(#2f1b50));
	background:-webkit-linear-gradient(top, #ad92c9, #2f1b50);
	background:-moz-linear-gradient(top, #ad92c9, #2f1b50);
	background:-ms-linear-gradient(top, #ad92c9, #2f1b50);
	background:-o-linear-gradient(top, #ad92c9, #2f1b50);
}

.fx-btn-primary.fx-active, .fx-btn-primary:active {
	border-color:#4d148c;
	background:#4d148c;
}

.fx-blue.fx-btn-primary {
	border-color:#00a0d3;
	background:#00a0d3;
	background:-webkit-gradient(linear, left top, left bottom, from(#88d2ea), to(#00a0d3));
	background:-webkit-linear-gradient(top, #88d2ea, #00a0d3);
	background:-moz-linear-gradient(top, #88d2ea, #00a0d3);
	background:-ms-linear-gradient(top, #88d2ea, #00a0d3);
	background:-o-linear-gradient(top, #88d2ea, #00a0d3);
}

.fx-blue.fx-btn-primary.fx-hover, body:not(.fx-touch) .fx-blue.fx-btn-primary:hover {
	border-color:#00779d;
	background:#00779d;
	background:-webkit-gradient(linear, left top, left bottom, from(#88d2ea), to(#00779d));
	background:-webkit-linear-gradient(top, #88d2ea, #00779d);
	background:-moz-linear-gradient(top, #88d2ea, #00779d);
	background:-ms-linear-gradient(top, #88d2ea, #00779d);
	background:-o-linear-gradient(top, #88d2ea, #00779d);
}

.fx-blue.fx-btn-primary.fx-active, .fx-blue.fx-btn-primary:active {
	border-color:#00779d;
	background:#00779d;
}

.fx-gray.fx-btn-secondary {
	border-color:#666;
	background:#BBB;
	background:-webkit-gradient(linear, left top, left bottom, from(#BBB), to(#777));
	background:-webkit-linear-gradient(top, #BBB, #777);
	background:-moz-linear-gradient(top, #BBB, #777);
	background:-ms-linear-gradient(top, #BBB, #777);
	background:-o-linear-gradient(top, #BBB, #777);
}

.fx-gray.fx-btn-secondary.fx-hover, body:not(.fx-touch) .fx-gray.fx-btn-secondary:hover {
	border-color:#555;
	background:#00779d;
	background:-webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
	background:-webkit-linear-gradient(top, #888, #555);
	background:-moz-linear-gradient(top, #888, #555);
	background:-ms-linear-gradient(top, #888, #555);
	background:-o-linear-gradient(top, #888, #555);
}

.fx-gray.fx-btn-secondary.fx-active, .fx-gray.fx-btn-secondary:active {
	border-color:#555;
	background:#555;
}

button.fx-silver-purple {
	color:#4d418c;
}

.fx-silver-purple.fx-btn-tertiary {
	border-color:#4d418c;
	background:#b2b2b2;
	background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#b2b2b2));
	background:-webkit-linear-gradient(top, #FFF, #b2b2b2);
	background:-moz-linear-gradient(top, #FFF, #b2b2b2);
	background:-ms-linear-gradient(top, #FFF, #b2b2b2);
	background:-o-linear-gradient(top, #FFF, #b2b2b2);
}

.fx-silver-purple.fx-btn-tertiary.fx-hover, body:not(.fx-touch) .fx-silver-purple.fx-btn-tertiary:hover {
	border-color:#4d418c;
	background:#999;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#999));
	background:-webkit-linear-gradient(top, #f1f1f1, #999);
	background:-moz-linear-gradient(top, #f1f1f1, #999);
	background:-ms-linear-gradient(top, #f1f1f1, #999);
	background:-o-linear-gradient(top, #f1f1f1, #999);
}

.fx-silver-purple.fx-btn-tertiary.fx-active, .fx-silver-purple.fx-btn-tertiary:active {
	border-color:#e5e5e5;
	background:#e5e5e5;
}

button.fx-silver-blue {
	color:#00a0d3;
}

.fx-silver-blue.fx-btn-tertiary {
	border-color:#00a0d3;
	background:#b2b2b2;
	background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#b2b2b2));
	background:-webkit-linear-gradient(top, #FFF, #b2b2b2);
	background:-moz-linear-gradient(top, #FFF, #b2b2b2);
	background:-ms-linear-gradient(top, #FFF, #b2b2b2);
	background:-o-linear-gradient(top, #FFF, #b2b2b2);
}

.fx-silver-blue.fx-btn-tertiary.fx-hover, body:not(.fx-touch) .fx-silver-blue.fx-btn-tertiary:hover {
	border-color:#00a0d3;
	background:#999;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#999));
	background:-webkit-linear-gradient(top, #f1f1f1, #999);
	background:-moz-linear-gradient(top, #f1f1f1, #999);
	background:-ms-linear-gradient(top, #f1f1f1, #999);
	background:-o-linear-gradient(top, #f1f1f1, #999);
}

.fx-silver-blue.fx-btn-tertiary.fx-active, .fx-silver-blue.fx-btn-tertiary:active {
	border-color:#e5e5e5;
	background:#e5e5e5;
}

@media screen and (max-width:699px) {
	button {
	font-size:14px;
	padding:6px 16px;
}

}.fx-form fieldset {
	padding:10px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:14px;
	width:50%;
	float:left;
}

.fx-form fieldset legend {
	width:100%;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #CCC;
	font-size:21px;
	color:#4d148c;
	font-weight:normal;
}

.fx-form input[type="text"], .fx-form input[type="email"], .fx-form input[type="tel"], .fx-form input[type="password"], .fx-form textarea {
	-webkit-appearance:none;
	border-radius:0;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	transition:border-color .2s linear;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.fx-form input.fx-shortinput {
	max-width:80px;
}

.fx-touch .fx-form input[type="text"], .fx-touch .fx-form input[type="email"], .fx-touch .fx-form input[type="tel"], .fx-touch .fx-form input[type="password"], .fx-touch .fx-form textarea {
	padding-top:7px;
	padding-bottom:7px;
}

.fx-form input[type="text"]:focus, .fx-form input[type="email"]:focus, .fx-form input[type="tel"]:focus, .fx-form input[type="password"]:focus, .fx-form textarea:focus {
	border-color:#4d148c;
	outline:0;
}

.fx-form select {
	width:100%;
	margin-bottom:10px;
	min-height:28px;
	border:1px solid;
}

.fx-form textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:.83em;
	color:#000;
}

input::-webkit-input-placeholder {
	color:#999;
}

input:-moz-placeholder {
	color:#999;
}

textarea::-webkit-input-placeholder {
	color:#7f7f7f;
}

textarea:-moz-placeholder {
	color:#7f7f7f;
}

.fx-form .fx-datapoint {
	position:relative;
	padding:0 35px 0 0;
	margin-bottom:10px;
}

.fx-form .fx-datapoint label {
	font-size:14px;
	font-weight:bold;
	display:block;
	margin-bottom:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.fx-form .fx-datapoint .fx-inputwrap input {
	margin-bottom:10px;
}

.fx-form .fx-datapoint .fx-inputwrap .fx-phone {
	float:left;
	width:65%;
}

.fx-form .fx-datapoint .fx-inputwrap label.fx-extension {
	float:left;
	width:20%;
	padding:4px 0 0 0;
	text-align:center;
}

.fx-form .fx-datapoint .fx-inputwrap input.fx-extension {
	float:left;
	width:15%;
}

.fx-form .fx-form-note {
	padding:10px;
	background:#e4e4e4;
	border-radius:4px;
}

.fx-form-buttons {
	float:right;
	margin:10px 35px 0 0;
}

.fx-form-buttons>* {
	margin-left:15px;
}

.fx-alert {
	position:relative;
	margin-bottom:10px;
	padding:10px;
	background:none repeat scroll 0 0 #eee;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	color:#4d148c;
	font-weight:bold;
}

.fx-alert p {
	margin-top:3px;
	margin-bottom:0;
	font-size:12px;
	padding-left:30px;
}

.fx-alert p span {
	font-size:14px;
	font-weight:normal;
	height:16px;
	left:10px;
	position:absolute;
	top:10px;
	width:8px;
}

.fx-alert a {
	color:#4d148c;
	text-decoration:underline;
}

.fx-alert a:hover {
	color:#666;
}

.fx-alert span {
	background:none repeat scroll 0 0 #4d148c;
	border-radius:20px 20px 20px 20px;
	color:#fff;
	display:inline-block;
	font-weight:bold;
	margin-right:6px;
	padding:2px 6px;
	text-align:center;
}

.fx-form .fx-error-banner {
	background:#e9262e;
	margin-bottom:20px;
}

.fx-form .fx-error-banner p {
	color:#fff;
	padding:10px;
	padding-left:40px;
	background:url(img/erroricon-white.png) 10px center no-repeat;
}

.fx-form .fx-datapoint.fx-error>label {
	color:#e9262e;
	font-weight:bold;
	background:url(img/erroricon2.png) right center no-repeat;
	padding-bottom:10px;
}

.fx-form .fx-datapoint.fx-error input {
	border:2px solid #e9262e;
}

.fx-form .fx-datapoint .fx-error-resolution {
	color:#e9262e;
	display:none;
	margin-top:0;
}

.fx-form .fx-datapoint.fx-error .fx-error-resolution {
	display:block;
}

.fx-input-live-result {
	font-size:12px;
	color:#48b54f;
	font-weight:bold;
	vertical-align:text-top;
}

.fx-form .fx-confirm label {
	position:relative;
}

.fx-form .fx-confirm label:after {
	content:"2713";
	position:absolute;
	right:4px;
	color:#48b54f;
	font-size:18px;
}

@media screen and (max-width:699px) {
	.fx-form fieldset {
	width:100%;
}

.fx-form fieldset legend {
	font-size:14px;
}

}@media screen and (min-width:400px) and (max-width:700px), screen and (min-width:860px) {
	.fx-form .fx-datapoint label {
	float:left;
	width:40%;
	margin-bottom:0;
	padding-right:20px;
	word-wrap:break-word;
	font-weight:normal;
}

.fx-form .fx-datapoint label.radio, .fx-form .fx-datapoint label.check {
	float:none;
	display:inline-block;
	width:auto;
	padding:0;
	margin:0 10px 10px 5px;
}

.fx-form .fx-datapoint>input[type="text"], .fx-form .fx-datapoint>input[type="email"], .fx-form .fx-datapoint>input[type="tel"], .fx-form .fx-datapoint>select, .fx-form .fx-datapoint>textarea, .fx-form .fx-datapoint>.fx-inputwrap {
	width:60%;
	display:inline-block;
	vertical-align:top;
}

}.fx-loading-overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255, 255, 255, .8);
}

.fx-loading-overlay.fx-dark-overlay {
	background:rgba(0, 0, 0, .6);
}

.fx-loading-overlay .fx-loading-icon {
	position:absolute;
	top:50%;
	width:100%;
	height:50px;
	margin-top:-25px;
	text-align:center;
	padding-top:25px;
	background:url(img/loader_small.gif) no-repeat 50% 0;
	color:#666;
}

.fx-loading-overlay.fx-dark-overlay .fx-loading-icon {
	background:url(img/loader_lg.gif) no-repeat 50% 0;
	color:#FFF;
}

.fx-modal-reveal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:#000;
	opacity:.75;
	z-index:999;
}

.fx-modal {
	position:absolute;
	z-index:1000;
	background:#fff;
	width:70%;
	top:70px;
	left:50%;
	margin-left:-35%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.fx-modal-content {
	padding:20px;
}

.fx-modal-close {
	position:absolute;
	top:-15px;
	right:-15px;
	width:33px;
	height:33px;
	background:url(img/modal-close.png) no-repeat left top;
	text-indent:-9999px;
	cursor:pointer;
}

.fx-pagination {
	display:inline-block;
	padding:4px 12px;
	border:1px solid #ccc;
	color:#4d148c;
}

.fx-inactive, a.fx-inactive {
	color:#ccc;
	cursor:default;
}

body:not(.fx-touch) a.fx-inactive:hover {
	color:#ccc;
}

.fx-previous:before {
	content:"25c4";
	margin-right:10px;
}

.fx-next:after {
	content:"25ba";
	margin-left:10px;
}

.fx-placards-locator {
	margin:0;
	padding:0;
}

.fx-placards-locator li {
	position:relative;
	color:#4d148c;
	background:#f5f5f5;
	background:-moz-linear-gradient(top, #f5f5f5 0, #e5e5e5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(100%, #e5e5e5));
	background:-webkit-linear-gradient(top, #f5f5f5 0, #e5e5e5 100%);
	background:-o-linear-gradient(top, #f5f5f5 0, #e5e5e5 100%);
	background:-ms-linear-gradient(top, #f5f5f5 0, #e5e5e5 100%);
	background:linear-gradient(to bottom, #f5f5f5 0, #e5e5e5 100%);
}

.fx-placards-locator .fx-location {
	position:relative;
	left:2.5em;
	padding:10px 2.5em 10px 0;
}

.fx-placards-locator .fx-location p {
	width:78%;
	margin:5px 0;
	font-size:14px;
}

.fx-placards-locator .fx-location .fx-location-title {
	font-size:16px;
}

.fx-placards-locator .fx-location .fx-location-address {
	color:#666;
}

.fx-placards-locator li.fx-first-placard {
	padding-top:24px;
}

.fx-nearest-location {
	position:absolute;
	left:2.5em;
	top:12px;
	color:#666;
	font-size:14px;
	font-style:italic;
}

.fx-distance {
	position:absolute;
	right:10px;
	top:12px;
	color:#666;
	font-size:14px;
}

.fx-view-all {
	color:#4d148c;
	margin:20px 0 0 20px;
}

.fx-view-all:after {
	content:"25ba";
	margin-left:10px;
}

.fx-rate-section {
	float:left;
	width:100%;
	margin-right:5px;
}

.fx-rate-section .fx-rate-section-date {
	height:15px;
	margin:0;
	padding:10px 0;
	background:#4d148c;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

.fx-rate-block {
	float:left;
	position:relative;
	width:100%;
	height:auto;
	background:#f1f1f1;
	background:-moz-linear-gradient(top, #fefefe 0, #e5e5e5 85%, #ccc 100%);
	background:-webkit-linear-gradient(top, #fefefe 0, #e5e5e5 85%, #ccc 100%);
	background:linear-gradient(top, #fefefe 0, #e5e5e5 85%, #ccc 100%);
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #CCC;
	cursor:pointer;
	text-align:center;
}

.fx-rate-block p {
	float:left;
	padding:15px;
	margin:0 10px 0 0;
	font-size:14px;
	color:#666;
}

.fx-rate-block .fx-rate {
	width:80px;
	margin:0;
	font-size:20px;
	color:#4d148c;
	font-weight:bold;
}

.fx-rate-block small {
	color:#4d148c;
	font-size:10px;
	text-align:center;
}

@media screen and (min-width:700px) {
	.fx-rate-section {
	width:auto;
	margin-right:5px;
}

.fx-rate-block {
	float:left;
	position:relative;
	width:90px;
	height:104px;
}

.fx-rate-block p {
	float:none;
	margin:0;
	padding:0;
	font-size:14px;
	color:#666;
}

.fx-rate-block .fx-rate {
	width:auto;
	margin:10px 0 0 0;
	padding:0;
	font-size:20px;
	color:#4d148c;
	font-weight:bold;
}

.fx-rate-block small {
	display:block;
	width:100%;
	margin:20px 0 5px;
	padding:0;
}

}.fx-placard-tracking {
	position:relative;
	padding-top:10px;
	font-family:Arial, sans-serif;
}

.fx-placard-tracking h2 {
	margin:0;
	padding:10px 0 10px 10px;
	font-size:18px;
	font-weight:normal;
	color:#FFF;
	background-color:#4d148c;
	border-bottom:0;
}

.fx-placard-tracking .fx-tracking-details {
	margin-bottom:10px;
	padding:15px 15px 20px 15px;
	background-color:#f1f1f1;
	border:1px solid #CCC;
}

.fx-placard-tracking .fx-tracking-step h3 {
	margin:0 0 5px 0;
	font-size:14px;
	font-weight:bold;
	color:#4d148c;
}

.fx-placard-tracking .fx-tracking-step p {
	margin-top:10px;
	margin-bottom:0;
	padding-top:10px;
	border-top:1px solid #CCC;
	font-size:12px;
	line-height:16px;
}

.fx-placard-tracking .fx-tracking-details .fx-tracking-step {
	float:left;
}

.fx-placard-tracking .fx-tracking-step.fx-pickup, .fx-placard-tracking .fx-tracking-step.fx-delivery {
	width:30%;
}

.fx-placard-tracking .fx-tracking-step.fx-transit {
	margin:0 3%;
	width:34%;
	text-align:center;
}

.fx-placard-tracking .fx-tracking-step.fx-transit h3 {
	margin-top:5px;
}

.fx-placard-tracking .fx-tracking-step.fx-transit p {
	margin-top:5px;
	padding:0;
	border:0;
}

@media screen and (max-width:699px) {
	.fx-placard-tracking .fx-tracking-details .fx-tracking-step {
	float:none;
	width:100%;
}

.fx-placard-tracking .fx-tracking-step.fx-transit {
	text-align:left;
	margin:10px 0;
}

}.fx-showhide-container {
	border-top:1px solid #CCC;
}

.fx-showhide {
	margin:0;
	border-bottom:1px solid #ccc;
}

.fx-showhide>h3 {
	cursor:pointer;
	padding:10px 0;
}

.fx-showhide>h3:hover, .fx-showhide.fx-active>h3 {
	color:#4d148c;
}

.fx-showhide>h3 span {
	float:right;
	display:block;
	width:24px;
	height:24px;
	background:url(img/btn-expand.png) no-repeat left top;
	text-indent:-9999px;
}

.fx-showhide.fx-active span {
	background-image:url(img/btn-collapse.png);
}

.fx-showhide .fx-showhide-content {
	display:none;
	padding-bottom:10px;
	font-size:14px;
}

.fx-showhide.fx-active .fx-showhide-content {
	display:block;
}

.fx-summary {
	text-align:right;
}

.fx-summary .fx-pricebar {
	margin:10px 0;
	padding:20px 20px 20px 0;
	background:#eee;
	border-top:3px solid #4d148c;
}

.fx-summary .fx-pricebar p {
	font-weight:bold;
	margin:5px 0;
}

.fx-summary .fx-pricebar p span {
	font-weight:normal;
}

.fx-summary .fx-pricebar span.total {
	color:#4d148c;
	font-weight:bold;
}

.fx-table-container {
	font-size:14px;
}

.fx-table-top {
	margin-top:20px;
	padding:10px 0 0 0;
	background:-moz-linear-gradient(top, #f5f6f7 0, #e6e7e8 50%, #e5e6e7 100%);
	background:-webkit-linear-gradient(top, #f5f6f7 0, #e6e7e8 50%, #e5e6e7 100%);
	background:linear-gradient(to bottom, #f5f6f7 0, #e6e7e8 50%, #e5e6e7 100%);
	border:1px solid #CCC;
}

.fx-table-top input[type=text] {
	width:140px;
	margin:0 0 10px 20px;
	padding:5px 0 5px 5px;
	border:1px solid #CCC;
}

.fx-table-top select {
	height:27px;
	color:#666;
	background:#f7f7f7;
	border:1px solid #CCC;
	outline:0;
}

.fx-table-top>fieldset {
	float:left;
	width:50%;
	margin-top:0;
}

.fx-table-top .fx-table-filter {
	text-align:right;
	margin-top:2px;
}

.fx-table-top .fx-table-filter>a {
	font-weight:bold;
	color:#4d148c;
	font-size:12px;
	margin-right:20px;
	padding:6px 22px 4px 0;
}

.fx-table-top .fx-show-filters {
	background:url(img/show-filter.png) no-repeat right center;
}

.fx-table-top .fx-edit-columns {
	background:url(img/add-col.png) no-repeat right center;
}

.fx-table {
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
}

.fx-table table {
	width:100%;
	border-collapse:collapse;
}

.fx-table table * {
	text-align:left;
	padding:0;
}

.fx-table .fx-table-scroll-header table th, .fx-table .fx-table-scroll-container table td {
	padding:8px;
	border-left:1px solid #dedede;
	border-bottom:1px solid #dedede;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.fx-table .fx-table-scroll-container {
	max-height:98px;
	width:100%;
	overflow:hidden;
	zoom:1;
}

.fx-odd {
	background:#f5f5f5;
}

.fx-table-edit {
	display:none;
}

.fx-table-delete {
	visibility:hidden;
	display:inline-block;
	width:20px;
	height:16px;
	padding-right:5px;
	background:url(img/edit-delete.png) no-repeat left top;
	background-position:left -34px;
	text-indent:-9999em;
}

.fx-table-utility:hover .fx-table-delete {
	visibility:visible;
}

.fx-table-bottom {
	margin-top:20px;
}

.fx-table-up {
	margin-bottom:20px;
}

.fx-table-bottom .fx-table-info {
	float:left;
}

.fx-table-bottom .fx-table-info span {
	font-weight:bold;
	color:#4d148c;
}

.fx-table-bottom .fx-table-buttons {
	float:right;
}

.fx-table-bottom .fx-table-buttons>div {
	display:inline-block;
}

.fx-tab-navigation {
	-webkit-box-shadow:inset 0 -8px 5px -8px #666;
	-moz-box-shadow:inset 0 -8px 5px -8px #666;
	box-shadow:inset 0 -8px 5px -8px #666;
	padding:0;
}

.fx-tab-navigation li {
	float:left;
	list-style:none outside none;
	margin-bottom:0;
}

.fx-tab-navigation a {
	display:block;
	padding:10px 20px;
	color:#4d148c;
	background:#f5f4f3;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
	font-weight:bold;
	-webkit-box-shadow:inset 0 -8px 5px -8px #666;
	-moz-box-shadow:inset 0 -8px 5px -8px #666;
	box-shadow:inset 0 -8px 5px -8px #666;
}

.fx-tab-navigation li.fx-active a, body:not(.fx-touch) .fx-tab-navigation li.fx-active a:hover {
	background:#fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.fx-tab-navigation a:active {
	background:#DDD;
}

.fx-tab-navigation li:last-child a {
	border-right:1px solid #CCC;
}

.fx-tab-content>div {
	display:none;
	font-size:14px;
	padding:20px;
}

.fx-tab-content>div.fx-active {
	display:block;
}

@media screen and (max-width:699px) {
	.fx-tab-navigation a {
	padding:10px;
	font-size:13px;
}

}.fx-datapoint {
	position:relative;
	padding-right:36px;
}

.fx-tooltip {
	position:absolute;
	right:5px;
	top:2px;
	width:22px;
	height:22px;
	background:url('img/helpme2.png') no-repeat 0 0;
	cursor:pointer;
}

.fx-tooltip.fx-inline-tooltip {
	position:relative;
	display:inline-block;
	margin-left:10px;
}

.fx-tooltip-copy {
	display:none;
	position:absolute;
	right:20px;
	bottom:90%;
	width:300px;
	padding:10px;
	background:#EEE;
	border:1px solid #DDD;
	border-radius:7px;
	-webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, .1);
	box-shadow:0 0 3px 1px rgba(0, 0, 0, .1);
	z-index:300;
}

.fx-tooltip:hover+.fx-tooltip-copy {
	display:block;
}

.fx-gallery {
	position:relative;
}

.fx-gallery ul {
	list-style:none;
	padding:0;
	margin:0;
}

.fx-slides {
	overflow:hidden;
}

.fx-slides li {
	position:relative;
	display:none;
}

.fx-slides li.active {
	display:block;
}

.fx-slides img {
	display:block;
	width:100%;
	height:auto;
}

.fx-slide-controls {
	display:block;
	padding:8px 0;
}

.fx-gallery-pager .fx-slide-controls {
	background:#FFF;
	font-size:0;
	padding:10px 0;
}

.fx-slide-controls ul {
	padding:0;
	width:100%;
	text-align:center;
}

.fx-slide-controls li {
	display:inline-block;
	list-style:none;
}

.fx-slide-controls li {
	height:15px;
	width:15px;
	border-radius:20px;
	background:#FFF;
	border:2px solid #CCC;
	cursor:pointer;
	transition:background-color .25s ease-in-out, border-color .25s ease-in-out;
	margin-bottom:0;
}

.fx-slide-controls li.active, .fx-slide-controls li:hover {
	background-color:#4d148c;
	border-color:#4d148c;
}

.fx-gallery-pager .fx-slide-controls li {
	font-size:16px;
	font-weight:bold;
	border:0;
	border-bottom:2px solid transparent;
	border-right:2px solid #EEE;
	border-radius:0;
	color:#4d148c;
	padding:4px 6px;
}

.fx-gallery-pager .fx-slide-controls li.active, .fx-gallery-pager .fx-slide-controls li:hover {
	background:#FFF;
	color:#222;
	border-bottom:2px solid #4d148c;
}

.fx-gallery-pager .fx-slide-controls li:last-child {
	border-right:0;
}

.fx-slide-prevnext {
	position:absolute;
	top:50%;
	margin-top:-15px;
	width:100%;
}

.fx-gallery-pager .fx-slide-prevnext {
	top:auto;
	bottom:38px;
	margin-top:0;
}

.fx-slide-prevnext a {
	display:block;
	position:absolute;
	top:0;
	left:10px;
	width:30px;
	height:16px;
	background:#4d148c;
	border-radius:30px;
	color:#FFF;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	padding:7px 0;
	transition:background-color .25s linear;
}

.fx-slide-prevnext a:hover {
	background-color:#666;
	color:#FFF !important;
}

.fx-slide-prevnext a.next {
	left:auto;
	right:10px;
}

.fx-slide-prevnext a.prev:after {
	content:"";
}

.fx-slide-prevnext a.next:after {
	content:"";
}


