/*
 * Tweak some of the common.css styles to make survey broker happy
 * 814931
 */

/* ensure empty cells are displayed and not squashed */
div[class*='col-']{
    min-height: 1px;
}

/* common sets the fieldset to 50% of containing element */
.fx-form fieldset {
    width:100%;
}

/* common sets a right margin of 35px */
.fx-form .fx-datapoint {
    padding: 0;
}

.fx-form .fx-error-banner {
    display: none;
}

.fx-form .fx-datapoint.fx-error > label{
    background-position: top right;
}

/* to put a top on the table because we're not using the filter row */
.fx-table{
    border-top: 1px solid #dedede;
    border-bottom: none;
}

.fx-table table th, .fx-table table td {
	padding:8px;
	border-left:1px solid #dedede;
	border-bottom:1px solid #dedede;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* provide consistency with borders and margin of input */
/* in common select is a border: 1px solid */
.fx-form select {
    border: 1px solid #CCC;
    transition: border-color .2s linear;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.fx-form select:focus {
    border-color: #4d148c;
    outline: 0;
    margin: 0;
}

.fx-form .fx-datapoint.fx-error select{
    border: 2px solid #e9262e;
}

.fx-form .fx-datapoint.fx-error select:focus{
    border: 2px solid #4d148c;
}

.fx-form .fx-datapoint.fx-error input:focus{
    border: 2px solid #4d148c;
}


/* switch up the margin side for buttons so the buttons right justify on the form */
.fx-form-buttons {
    margin-left: 15px;
    margin-right: 0;
}

.fx-table-buttons {
	float:right;
	margin:10px 0 0 15px;*/
}

.fx-table-buttons>* {
	margin-left:15px;
}

.fx-form .fx-datapoint label {
    margin-top: 5px;
}

/* intially do not show the loading overlay */
.fx-loading-overlay {
    display: none;
}