body {
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: rgb(95, 50, 255);
    /*rgb(255, 65, 50);*/
}
.instruction-head {
    color:#333333;
    font-size: 2em;
    padding-bottom: 20px;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
a,
a:active {
    color: #ffffff !important;
}
a:hover {
    color: #dddddd !important;
}
.column {
    position: relative;
    float: left;
    width: 40%;
    margin: 0 5% 0 5%;
}
.container {
    width: 1170px;
    margin: 5px auto 0 auto;
}
.tm {
    margin-top: 60px;
}
.container iframe {
    height: 1600px;
}
.header-wrapper {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: block;
    z-index: 1000;
    background-color: rgba(95, 50, 255, .8);
    /*rgba(255, 65, 50, .8);*/
}
.header {
    margin: 0 auto;
    height: 100%;
    width: 990px;
    display: block;
    font-size: 3.5em;
    color: #ffffff;
    border: 0px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
iframe {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
iframe[seamless] {
    display: block;
}
.buttons-we-like {
    border: 1px solid #ffffff !important;
    color: #ffffff;
    border-radius: 4px;
    font-size: .95em;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(95, 50, 255),  rgb(114, 75, 255));
}
.buttons-we-like:focus {
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(95, 50, 255), rgb(114, 75, 255));
}
.buttons-we-like:hover {
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(114, 75, 255), rgb(95, 50, 255));
}
@media screen and (max-width: 1170px) {
    .header,
    .container {
        width: 100%;
    }
    .header {
        font-size: 2em;
    }
    .header-wrapper {
        height: 30px;
    }
    .container {
        margin-top: 35px;
    }
    .column {
        width: 90%;
    }
}