<div class="entity-row with-space">
    <div class="full-cell">
        <button class="half" id="customer">Customer</button>
    </div>
</div>
<div class="entity-row with-space">
    <div class="full-cell">
        <button class="half"  id="fxo">FedEx Office</button>
    </div>
</div>