<div class="entity-row">
    <div class="full-cell small-heading">Start you return</div>
</div>
<div class="entity-row">
    <div class="full-cell">
        <select id="oRetailer" name="oRetailer" autofocus>
            <option value="none">Retailer</option>
            <option value="billssamona">Bill's Samona</option>
            <option value="freddiebower">Freddie Bower</option>
            <option value="housestation">House Station</option>
        </select>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell">
        <input type="text" name="oOrderId" id="oOrderId" autocomplete="off" placeholder="Order Id" />
    </div>
</div>
<div class="entity-row with-space">
    <div class="full-cell">
        <select id="oReason" name="oReason">
            <option value="Other">Reason</option>
            <option value="Wrong Size">Wrong size</option>
            <option value="Delivered Damaged">Delivered Broken</option>
            <option value="Wrong Color">Wrong Color</option>
        </select>
    </div>
</div>
<div class="entity-row with-space">
    <div class="full-cell">
        <button class="half" id="oStart">Start Return</button>
    </div>
</div>