<div class="entity-row">
    <div class="full-cell big-formatted">
        Welcome <%= item.customer_first %>!
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        Please take your return and this RMA to FedEx Office for handling.
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        From - <%= item.company_name %>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        <%= item.item %> - <%= item.item_description %>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
        <img src="http://candybar.ezpz.gs/pdf417?contents=<%= item.company_name %>, <%= item.rma %>"/>
    </div>
</div>
<div class="entity-row">
    <div class="full-cell formatted">
    <%= item.rma %>
    </div>
</div>
